@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --button: #a7c080;
  --text-light: #a7c080;
  --text-dark: #3a515d;
  --input: #3a515d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181c1f;
    --foreground: #ededed;
    --button: #a7c080;
    --text-light: #a7c080;
    --text-dark: #3a515d;
    --input: #3a515d;
    --component: #2D353B;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}